---
layout: default
title: Home
summary: Website Home Page
navigation_weight: 1
---

<div class="posts">
  <h1>Hi, I'm Purak Jain, an applied scientist.</h1>
  <p>
    I <a href="{{ '/write'| absolute_url }}">write</a>, <a href="{{ '/speak'| absolute_url }}">speak</a> and <a href="{{ '/prototype'| absolute_url }}">prototype</a> on ideas in machine learning, causal inference and general productivity.
    Currently, I lead a team of scientists and economists across Seattle, San Francisco, New York and Vancouver to support a ~250 people Marketing Science Tech organization.
    <br><br>Opinions my own.
  </p>
  <hr class="light-separator">
  <h2 style="text-align: center;">Latest</h2>
  {% for post in site.posts %}
     <div class="post">
      <h3 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
     </div>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
